<h1>Example filepickerio-rails usage</h1>

<%= javascript_include_tag :filepickerio %>
<%= filepickerio_upload_tag :user, nil %>
<%= filepickerio_save_button "Save to Dropbox", "http://www.filepicker.io/static/img/success.png", "image/jpg", data: { "fp-option-services" => "DROPBOX" } %>